* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
  }
  
ul, li {
    list-style: none;
  }
  
a {
    text-decoration: none;
  }
  
.container {
    width: 260px;
    margin: 0 auto;
  }

h1 {
    Font-family: 'Montserrat';
    font-style: bold;
    Font-Size: 2.2rem;   
    Line-height: 2.4rem;
    text-align: Left;
    color: #fff;
}

h2 {
    Font-family: 'Roboto Slab';
    Font-Size: 2rem;   
    Line-height: 2.1rem;
    text-align: center;
    color: #674582;
}

h3{
    Font-family: 'Montserrat';
    Font-Size: 1.3rem;   
    Line-height: 2rem;
    text-align: Left;
    color: #fff;
}

p {
    Font-family: 'Montserrat';
    Font-Size: 1.2rem;   
    Line-height: 1.6rem;
    color: #674582;
}
.btn {
    background-color: #C083B9;
    color: #fff;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 20px 0;
    font-family:'Montserrat';
}

.img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

/*navegacao*/

.nav {
    background-color: #674582;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.nav__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    margin: 0 auto;
}

.logo-img {
    width: 150px;
    height: auto;
}

.nav__menu_item {
    display: none;
}

.nav__menu_hamburger {
    display: flex;
}

.social-media {
    display: none;
}

/*Header*/

.header {
    background: url("../img/bg-banner-claro.png");
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 300px;
    display: block;
}

.header__text {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column; 
    align-items: flex-start;
    padding-top: 50px;
}

/*Main*/

.main-content__home {
    text-align: center;
}

.main__content_title {
    margin:3rem;
}

.mulher-img {
    width: 180px;
    height: auto;
    background-color: #63458A;
    border-radius: 5px;
    margin-top: 30px;
}

.main__content_text-home {
    Font-family: 'Montserrat';
    Font-Size: 1.3rem;   
    Line-height: 4.3rem;
    text-align: center;
    color: #000;
}

/*footer*/

.footer__links{
    background-color: #323534;
}

.footer__copyright {
    background-color: #292A2A;
}