* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
  }
  
ul, li {
    list-style: none;
  }
  
a {
    text-decoration: none;
  }
  
.container {
    width: 260px;
    margin: 0 auto;
  }

h1 {
    Font-family: 'Montserrat';
    font-weight: bold;
    Font-Size: 2.2rem;   
    Line-height: 2.4rem;
    text-align: Left;
    color: #fff;
}

h2 {
    Font-family: 'Roboto Slab';
    Font-Size: 2rem;   
    Line-height: 2.1rem;
    text-align: center;
    color: #674582;
}

h3{
    Font-family: 'Montserrat';
    Font-Size: 1.3rem;   
    Line-height: 2rem;
    text-align: Left;
    color: #fff;
}

h5{
    Font-family: 'Montserrat';
    Font-Size: 1rem;   
    Line-height: 1.2rem;
    color: #fff;
}

h6{
    Font-family: 'Montserrat';
    font-style: bold;
    Font-Size: 1.8rem;   
    Line-height: 2rem;
    text-align: center;
    color: #674582;
}

p {
    Font-family: 'Montserrat';
    Font-Size: 1.3rem;   
    Line-height: 1.8rem;
    color: #674582;
}

.btn {
    background-color: #C083B9;
    color: #fff;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 20px 0;
    font-family:'Montserrat';
}

.img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

/*navegacao*/

.nav {
    background-color: #674582;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}

/*
.nav__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    margin: 0 auto;
}
*/

.logo-img {
    width: 150px;
    height: auto;
}

.nav__menu_item {
    display: none;
}

.nav__menu_hamburger {
    display: flex;
}

.social-media {
    display: none;
}

.nav_list p {
    color: #fff;
    display: flex;
    justify-content: space-around;
}

/*Header*/

.header {
    background: url("../img/bg-banner-claro.png");
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 300px;
    display: block;
    margin-top: 59px;
}

.header__text {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column; 
    align-items: flex-start;
    padding-top: 50px;
}

/*header profile*/

.header__profile {
    background: url("../img/header-kath.png");
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: middle;
    margin-top: 59px;
    background-position: center;
}

.header__profile_text {
    display: flex;
    justify-content: center;
    padding-top: 240px;
    text-transform: uppercase;
}

/*Main*/

.main-content__home {
    text-align: center;
}

.main__content_title {
    margin:3rem;
}

.main-content__woman-icon{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 250px;
    
}
.mulher-img {
    width: 100px;
    height: auto;
    background-color: #63458A;
    border-radius: 5px;
    margin-top: 30px;
}

.main__content_text-home {
    Font-family: 'Montserrat';
    Font-Size: 1.3rem;   
    Line-height: 1.3rem;
    text-align: center;
    color: #000;
    width: 100px;
    margin: 10px 0;
}

/*main-profile*/


.article__title {
    max-width: 300px;
    text-align: center;
    margin: 15px auto;
}

.article__intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;    
}

.img-article-profile {
    width: 100%;
    height: auto;
}

.article__intro__text{
    margin: 15px auto;
}

.article__quote {
    width: 100%;
    border: 1px solid #674582;
    padding: 20px;
    text-align: center;
}

.article__story {
    text-align: left;
}

.article__story_title{
    text-align: left;
    margin: 15px auto;
}

.img-kath-type {
    margin: 20px 0;
}

/*profile dev*/

.profile__dev {
    background-color: #e5e5e5;
    padding: 25px;
    margin: 35px auto 0 auto;
}

.profile__dev_conteudo {
    display : flex;
    justify-content: center;
    align-content: center;
}

.profile__dev_texto{
    font-weight: bold;
}

.dev-imagem {
    width: 100%;
    height: auto;
}

.profile__dev_img {
    width: 120px;
    margin-right: 20px;
}

.button__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.kath-type {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
}

/*footer*/

.footer__links{
    background-color: #323534;
}

.footer__copyright {
    background-color: #292A2A;
}

.footer_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.logo-img-footer {
    width: 180px;
}

.link_facebook{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.footer__icon-fb {
    width: auto;
    height: 28px;
}

.footer_text-link-fb {
    color: #fff;
}

.footer__copyright {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright h5{
    max-width: 300px;
    font-size: 0.8rem;
}


@media screen and ( min-width: 768px) {

    .container {
        width: 500px;
        margin: 0 auto;
      }
/*nav*/

.nav__menu_list {
    display: flex;
    justify-content: space-around;
    width: 190px;
    font-family: 'Montserrat';
}
.nav__menu_item {
    display: flex;
}

.nav__menu_item a{
    color: #fff;
}

.nav__menu_hamburger {
    display: none;
}

/*header*/

    .header__text {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column; 
        align-items: flex-start;
        padding-top: 65px;
        padding-right: 25%;
    }

    .main-content__woman-icon {
        display: flex;
        flex-flow: row wrap; 
        justify-content: space-between;
        width: 380px;
    }

    /*article profile*/

    .article__intro {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        }

    .img-article-profile {
        width: 130px;
        height: auto;
        margin-right: 20px;
    }


    /*dev profile*/

    .profile__dev {
        padding: 0px;
        margin: 35px auto 0 auto;
    }
    
    .profile__dev_conteudo {
        display : flex;
        justify-content: center;
        align-items: center;
    }
    
    .profile__dev_img {
        width: 120px;
        margin-right: 20px;
    }
    /*footer*/

    .footer__links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 10%;
        margin-top: 20px;
    }

    .logo-img-footer {
        width: 180px;
        height: auto;
    }
}

@media screen and ( min-width: 1024px){

    h1 {
        Font-Size: 3rem;   
        Line-height: 3.3rem;
    }

    .container {
        width: 650px;
    }
    /*nav*/

    .nav {
        display: flex;
        align-items: center;
    }

    .nav__logo {
        margin-right: auto;
    }

    .social-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
    }

    .icon-social-media-nav {
        width: 18px;
        height: auto;
    }

    /*header*/

    .header {
        height: 500px;
    }

    .header__profile{
        height: 350px;
        background-position-y: -183px;
    }
    .header__text {
        padding-top: 150px;
    }

    /*main*/

    .mulher-img {
        width: 170px;
    }

    .main__content_text-home {
        width: 170px;
    }

    /*dev article*/

    .article__intro {
        margin: 20px 20px 20px 0;
    }

    .article__intro__text {
        margin: 0 50px 0 0;
    }

    .profile__dev_img {
        width: 200px;
        margin-right: 20px;
}
}